{% extends "layout_autenticado.html" %}
{% block content%}
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/menu_seleccion.css')}}"/>

  </head>

  <h3> Bienvenida especial para {{session["name"]}} a su sesion en TEE-SHOT como Administrador del Club.</h3>


  <div class="botones">
    <li><a href="{{url_for('formturnos')}}">CREAR Agenda</a></li>
    <li><a href="{{url_for('vaparameters')}}">REVISAR Agenda</a></li>
    <li><a href="{{url_for('selclubtarjetas')}}">TARJETAS DE JUEGO</a></li>
    <li><a href="{{url_for('formturnos')}}">GESTIONAR Jugadores</a></li>
  </div>
  <br><br>
  <li class="enlace"><a href="{{url_for('logout')}}">Cerrar Sesión</a></li>
  <br>

{% endblock %}
